@font-face {
	font-family: Nevis;
	src: url(../fonts/nevis.ttf);
}

@font-face {
	font-family: Typographica;
	src: url(../fonts/TypoGraphica.otf);
}

html {
	background: no-repeat center center fixed;
	background-size: cover;
	background-color: white;
}

body {
	margin: 0px;
	display: flex;

	/*color: white;*/
	font-family: "Roboto", Arial;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin: 0 auto;
	padding: 50px;
}
.row {
		display: table;
}

.circle {
	width: 100px;
	height: auto;
	align-items: center;
}

h1 {
	font-family: Typographica;
	font-size: 3.5em;
	color: black;
}
h2 {
	font-size: 2.5em;
	color: black;

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;


}
li {
	display: inline;
}

img.airplane {
	width: 50px;
}


#SplashSection {
	display: flex;
	align-items: center;

	overflow: hidden;
	position: relative;

	width: 100vw;
	height: 100vh;
}

#front_layer {
	margin: auto;
	align-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.front {
	z-index: 1000;
}

	h2.front, h3.front, p.front {
		/*text-shadow: 0px 0px 10px rgba(0,0,0,0.20);*/
	}

.back {
	position: absolute;
}

.cloud {
	bottom: -200px;
	left: -50px;
	width: 180vw; /* width is 6.13 times the length of the height */
	height: auto;
}

#logo {
/*	display: block;
	width: 100%;
	height: 100%;
background: url(../images/graffiti_logo.png) 50% 50% no-repeat; */
}

.mainlogo {
	float:left;
	padding: 50px;
	display: table;
}

#moto {
	font-family: Nevis;
	letter-spacing: 2px;
	font-size: 25pt;
}

#date {
	font-family: Nevis;
	font-size: 40pt;

	margin-bottom: 20px;
	margin-top: 100px;

	letter-spacing: -4px;
  color: white;
}

#pink_logo {
	width: 7vw;
	height: auto;
	left: 60px;
	top: 60px;
}

.links img {

	width: 20px;
	height: auto;
}

.fa {
	color: #eb1b74;
	transition: color 0.3s ease;
}

	.fa:hover {
		color: #CB1A63;
	}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input[type=text] {
    background-color: #EAEAEA;
    border: none;
    border-radius: 5px;
    color: black;
    width: 600px;
    padding: 20px;

    font-family: 'Roboto';
    font-weight: 100;
    font-size: 13pt;

    text-align: center;

    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #eb1b74;
    border: none;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 10px;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12pt;

    text-align: center;

    transition: all 0.3s ease;
}

	input[type=submit]:hover {
		cursor: pointer;
		background-color: #CB1A63;
	}
