@font-face {
	font-family: Nevis;
	src: url(../fonts/nevis.ttf);
}

@font-face {
	font-family: Typographica;
	src: url(../fonts/TypoGraphica.otf);
}

html {
	background: no-repeat center center fixed;
	background-size: cover;
	background-color: white;
}

body {
	margin: 0px;
	display: flex;

	/*color: white;*/
	font-family: "Roboto", Arial;

	background-color: grey;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin: 0 auto;
	padding: 50px;
    z-index: 50;
}
.row {
	display: table;
}

#circle_airplane {
	display: flex;
	flex-direction: row;
}

.circle {
	width: 10vw;
	height: auto;
	align-items: center;
}

#circle_airplane div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar {
	position: absolute;
}

h1 {
	font-family: Typographica;
	font-size: 3.5em;
	color: black;
}

h2 {
	font-size: 2.5em;
	color: black;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

li {
	display: inline;
}

img.airplane {
	width: 5vw;
	height: auto;

	margin-top: 40px;
}

#front_layer {
	margin: auto;
	align-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.front {
	z-index: 1000;
}

.back {
	position: absolute;
}

.cloud {
	bottom: -200px;
	left: -50px;
	width: 180vw; /* width is 6.13 times the length of the height */
	height: auto;
}

#cloud1, #cloud4 {
    -webkit-animation: move_cloud 40s ease-in-out 0s;
    -webkit-animation-iteration-count:infinite;
    animation: move_cloud 40s ease-in-out 0s;
    animation-iteration-count:infinite;
}

#cloud2, #cloud5 {
    -webkit-animation: move_cloud 70s ease-in-out 0s;
    -webkit-animation-iteration-count:infinite;
    animation: move_cloud 70s ease-in-out 0s;
    animation-iteration-count:infinite;
}

#cloud3 {
    -webkit-animation: move_cloud 55s ease-in-out 0s;
    -webkit-animation-iteration-count:infinite;
    animation: move_cloud 55s ease-in-out 0s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes move_cloud {0%{left:-50%;} 50%{left:-5%;} 100%{left:-50%;}}
@keyframes move_cloud {0%{left:-50%;} 50%{left:-10%;} 100%{left:-50%;}}

#logo {
	margin-top: 150px;
}

.mainlogo {
	float:left;
	padding: 50px;
	display: table;
}

#moto {
	font-family: Nevis;
	letter-spacing: 2px;
	font-size: 25pt;
}

#date {
	font-family: Nevis;
	font-size: 40pt;

	margin-bottom: 150px;

	letter-spacing: -4px;
	color: white;
}

#pink_logo {
	width: 7vw;
	height: auto;
	left: 60px;
	top: 60px;
}

.links {
	padding: 50px;
	top: 0;
	right: 0;
}

.links img {
	margin-right: 10px;
	margin-left: 10px;
	width: auto;
	height: 40px;
	line-height: auto;
}

.fa {
	color: #eb1b74;
	transition: color 0.3s ease;
}

	.fa:hover {
		color: #CB1A63;
	}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input[type=text] {
    background-color: #EAEAEA;
    border: none;
    border-radius: 5px;
    color: black;
    width: 600px;
    padding: 20px;

    font-family: 'Roboto';
    font-weight: 100;
    font-size: 13pt;

    text-align: center;

    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #eb1b74;
    border: none;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 10px;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12pt;

    text-align: center;

    transition: all 0.3s ease;
}

	input[type=submit]:hover {
		cursor: pointer;
		background-color: #CB1A63;
	}
