body {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: Nevis;
	src: url(../fonts/nevis.ttf);
}

@font-face {
	font-family: Roboto thin;
	src: url(../fonts/Roboto.otf);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Nevis;
}

h1 {
	font-family: Nevis;
	font-size: 40pt;
  	font-kerning: 20;
	color: black;
}

h3 {
	font-family: Nevis;
	font-size: 20pt;
  	font-kerning: 20;

	text-align: center;
	color: black;
	border: 5px black solid;
	padding: 10px;

	display: inline-block;

}



#navbar_placeholder {
	color: white;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100px;
	width: 100vw;
}



#header_container {
	background: linear-gradient( to left top, #e82275, #f28767);
	overflow: hidden;
	padding-top: 150px;
}

	#header_container h1 {
		color: white;
		text-align: center;
	}

	#skyline {
		width: 102vw;
		height: auto;
		margin-bottom: -4%;
		margin-left: -1vw;
	}


#profile_container {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding-top: 50px;
}

#profiles {
	background-color: white;
	padding: 50px 10vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#profiles img {
	width: 250px;
	height: 250px;
	margin: 30px;

	transition: filter 0.2s ease;
}

	#profiles img:hover {
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    	filter: grayscale(100%);
	}

.picture_div {
	display: flex;

	width: 250px;
	height: 250px;
	margin: 30px;
	border-radius: 100%;
	background: url("../images/navidclr.png");
	background-size: 250px 250px;

	transition: background-image 0.5s ease;
}




#navid {
	background: url("../images/navidclr.png"); background-size: 250px 250px;
}
#maria {
	background: url("../images/mariaclr.png"); background-size: 250px 250px;
}
#aishu {
	background: url("../images/aishuclr.png"); background-size: 250px 250px;
}
#mackenna {
	background: url("../images/mackennaclr.png"); background-size: 250px 250px;
}
#lucas {
	background: url("../images/lucasclr.png"); background-size: 250px 250px;
}
#nihar {
	background: url("../images/niharclr.png"); background-size: 250px 250px;
}
#cedric {
	background: url("../images/cedricclr.png"); background-size: 250px 250px;
}
#mahir {
	background: url("../images/mahirclr.png"); background-size: 250px 250px;
}
#ayush {
	background: url("../images/ayushclr.png"); background-size: 250px 250px;
}
#larissa {
	background: url("../images/larissaclr.png"); background-size: 250px 250px;
}
#david {
	background: url("../images/davidclr.png"); background-size: 250px 250px;
}
#malia {
	background: url("../images/maliaclr.png"); background-size: 250px 250px;
}
#skyler {
	background: url("../images/skylerclr.png"); background-size: 250px 250px;
}
#erin {
	background: url("../images/erinclr.png"); background-size: 250px 250px;
}
#gio {
	background: url("../images/gioclr.png"); background-size: 250px 250px;
}
#emily {
	background: url("../images/emilyclr.png"); background-size: 250px 250px;
}
#beth {
	background: url("../images/bethclr.png"); background-size: 250px 250px;
}
#dubhacks_logo_pink {
	background: url("../images/dubhacks_logo_pink.svg");
}








#navid:hover {
	background: url("../images/navidbw.png"); background-size: 250px 250px;
}
#maria:hover {
	background: url("../images/mariabw.png"); background-size: 250px 250px;
}
#aishu:hover {
	background: url("../images/aishubw.png"); background-size: 250px 250px;
}
#mackenna:hover {
	background: url("../images/mackennabw.png"); background-size: 250px 250px;
}
#lucas:hover {
	background: url("../images/lucasbw.png"); background-size: 250px 250px;
}
#nihar:hover {
	background: url("../images/niharbw.png"); background-size: 250px 250px;
}
#cedric:hover {
	background: url("../images/cedricbw.png"); background-size: 250px 250px;
}
#mahir:hover {
	background: url("../images/mahirbw.png"); background-size: 250px 250px;
}
#ayush:hover {
	background: url("../images/ayushbw.png"); background-size: 250px 250px;
}
#larissa:hover {
	background: url("../images/larissabw.png"); background-size: 250px 250px;
}
#david:hover {
	background: url("../images/davidbw.png"); background-size: 250px 250px;
}
#malia:hover {
	background: url("../images/maliabw.png"); background-size: 250px 250px;
}
#skyler:hover {
	background: url("../images/skylerbw.png"); background-size: 250px 250px;
}
#erin:hover {
	background: url("../images/erinbw.png"); background-size: 250px 250px;
}
#gio:hover {
	background: url("../images/giobw.png"); background-size: 250px 250px;
}
#emily:hover {
	background: url("../images/emilybw.png"); background-size: 250px 250px;
}
#beth:hover {
	background: url("../images/bethbw.png"); background-size: 250px 250px;
}
#dubhacks_logo_pink:hover {
	background: url("../images/dubhacks_logo_pink.svg");
}
